



<nav class="pc-sidebar light-sidebar" [class.open]="isSidebarOpen2">
	<div class="navbar-wrapper">
		<div class="m-header" >
			<a class="b-brand" routerLink="/user">
				<img src="/assets/images/logo1-trans.png" height="43px" alt="logo" class="logo logo-lg">
			</a>
		</div>
		
		<div class="navbar-content ">
			<ul class="pc-navbar" id="menu" >
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/userlist" class="pc-link">
						<span class="pc-micon">
							<i class="bx bxs-user-detail"></i>
						</span>
						<span class="pc-mtext">Users</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/users" class="pc-link">
						<span class="pc-micon">
							<i class='bx bxs-group'></i>
						</span>
						<span class="pc-mtext">Superadmin Users</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu d-none">
					<a routerLink="/superadmin/companylist" class="pc-link">
						<span class="pc-micon">
							<i class="bx bxs-building-house"></i>
						</span>
						<span class="pc-mtext">Company</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/packages" class="pc-link">
						<span class="pc-micon">
							<i class="bx bx-dollar"></i>
						</span>
						<span class="pc-mtext">Packages</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/category" class="pc-link">
						<span class="pc-micon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
								viewBox="0 0 24 24" style="fill: rgb(100, 97, 97); ">
								<path
									d="M10 3H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM9 9H5V5h4v4zm11-6h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 4H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1zm-1 6H5v-4h4v4zm8-6c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zm0 6c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2z">
								</path>
							</svg></span>
						<span class="pc-mtext">Category</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/library" class="pc-link">
						<span class="pc-micon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								style="fill: rgb(102, 98, 98);">
								<path
									d="M7 3h2v18H7zM4 3h2v18H4zm6 0h2v18h-2zm9.062 17.792-6.223-16.89 1.877-.692 6.223 16.89z">
								</path>
							</svg></span>
						<span class="pc-mtext">Library</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/field" class="pc-link">
						<span class="pc-micon">
							<i class='bx bx-food-menu'></i> </span>
						<span class="pc-mtext">Fields</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/template" class="pc-link">
						<span class="pc-micon">
							<i class='bx bx-book-content'></i> </span>
						<span class="pc-mtext">Template</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/superadmin/settings" class="pc-link">
						<span class="pc-micon">
							<i class="bx bxs-cog"></i>
						</span>
						<span class="pc-mtext">Settings</span>
					</a>
				</li>
				<li class="pc-item pc-hasmenu">
					<a routerLink="/admin" class="pc-link" >
						<span class="pc-micon">
							<i class="bx bx-power-off"></i>
						</span>
						<span class="pc-mtext">Logout</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!--offcanvas-->