<div class="filter-container">
    <form>
        <span>Filter: </span>

        <input type="radio" name="filter" class="" value="All" [(ngModel)]="selectedValue"
            (change)="onSelectionChanged()" />
        <span>{{'All Courses('+all+')'}}</span>

        <input type="radio" name="filter" value="Free" [(ngModel)]="selectedValue" (change)="onSelectionChanged()" />
        <span>{{'Free Courses('+free+')'}}</span>

        <input type="radio" name="filter" value="Premium" [(ngModel)]="selectedValue" (change)="onSelectionChanged()" />
        <span>{{'Premium Courses('+premium+')'}}</span>
    </form>
</div>